<div class="collapse" id="navbarToggleExternalContent"style="background-color:  #EAECCC;">
    <img src="assets\imagenes\logoSinfondoPNG.png" alt="Paraíso Peludo"> 
    <div class="hamburguesa" style="background-color: #EAECCC;">
       <h5 class="text"  class=color: #291d09;>Paraíso Peludo</h5>
       <ul class="list-group ">
         <li class="list-group-item" style="background-color: #EAECCC;border-color: #4c3610;"><a routerLink="inicio"routerLinkActive="active" (click)="hacerClic($event)">Inicio</a></li>
         <li class="list-group-item" style="background-color: #EAECCC;border-color: #4c3610;"><a routerLink="reserva-habitacion"routerLinkActive="active" (click)="hacerClic($event)">Realice su Reserva</a></li>
         <li class="list-group-item" style="background-color: #EAECCC;border-color: #4c3610;"><a routerLink="servicios" (click)="hacerClic($event)">Servicios adicionales</a></li>
         <li class="list-group-item" style="background-color: #EAECCC;border-color: #4c3610;"><a routerLink="quienes-somos" (click)="hacerClic($event)">Quienes somos</a></li>
         <li class="list-group-item" style="background-color: #EAECCC;border-color: #4c3610;"><a routerLink="galeria-fotos" (click)="hacerClic($event)">Galeria de fotos</a></li>
         <li class="list-group-item" style="background-color: #EAECCC;border-color: #4c3610;"><a routerLink="ubicacion" (click)="hacerClic($event)">Donde estamos</a></li>
         <li class="list-group-item" style="background-color: #EAECCC;border-color: #4c3610;"><a routerLink="contacto" (click)="hacerClic($event)">Contactar</a></li>
       </ul>
     </div>
   </div>
   <nav class="navbar" style="background-color: #DBCC95;">
     <div class="container-fluid">
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
               data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
               aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
     </div>
   </nav>
   
