<body>
<h2>Contacte con nosotros</h2>
<p>Si tienes cualquier duda o consulta puede contactar con nosotros atraves del siguiente formulario</p>
<div class="contenedor-formulario">
<label>Correo electrónico: </label>
<input type="email" [(ngModel)]="correo" placeholder="Escriba su Email">
<br>
<label >Nombre: </label>
<input type="text" [(ngModel)]="nombre" placeholder="Escriba su nombre completo">
<br>
<label>Télefono: </label>
<input type="tel" pattern="[0-9](3)-[0-9](3)-[0-9](3)">
<br>
<label>Comentarios: </label>
<textarea [(ngModel)]="comentario" placeholder="Escriba sus comentarios"></textarea>
<br>
<button (click)="enviarInfo()">Enviar información</button>
</div>
<div>
    @if (enviado) {
        <p>{{mensaje}}</p>
    }
</div>
<br>
<img src="assets\imagenes\logoSinfondoPNG.png" width="50%" alt="Paraiso Peludo">
</body>