<h1>Contacte con nosotros</h1>
<p>Si tienes cualquier duda o consulta puede contactar con nosotros atraves del siguiente formulario</p>
<h2>Formulario de contacto</h2>
<div>
<label>Correo electrónico: </label>
<input type="email" [(ngModel)]="correo" placeholder="Escriba su Email">
<br>
<label >Nombre: </label>
<input type="text" [(ngModel)]="nombre">
<br>
<label>Télefono: </label>
<input type="tel" pattern="[0-9](3)-[0-9](3)-[0-9](3)">
<br>
<label>Comentarios: </label>
<textarea [(ngModel)]="comentario" placeholder="Escriba sus comentarios"></textarea>
<br>
<button (click)="enviarInfo()">Enviar información</button>
</div>
<div>
    @if (enviado) {
        <p>{{mensaje}}</p>
    }
</div>
