<body>
<h1>Confirma los datos de la reserva</h1>

<div class="formulario-alta">
   <!-- <label>Numero de Reserva: </label>
   <input type="text" [(ngModel)]="r1.idReserva" placeholder="Escriba su nombre">
   <br> -->
   <label>Fecha de Entrada :</label>
   <input type="text" [(ngModel)]="fechaEntrada" 
   disabled="true">
   <br>
   <label>Fecha de Salida:</label>
   <input type="text" [(ngModel)]="fechaSalida"
   disabled="true">
   <br>
   <label>Precio :</label>
   <input type="text" [(ngModel)]="r1.precioR"
   disabled="true">
   <br>
   <label>ID Mascota :</label>
   <input type="text" [(ngModel)]="r1.idMascota"
   disabled="true">
   <br>
   <label>Cantidad de Noches:</label>
   <input type="text" [(ngModel)]="r1.cantidadNoches"
   disabled="true">
   <br>
   <!-- <label>Numero de Habitacion asignada:</label>
   <input type="text" [(ngModel)]="r1.idHabitacion"
   disabled="true">
   <br> -->
   <button (click)="altaReserva()">Confirmar Reserva</button>
</div>
</body>