<body>
<h2>Alta mascota</h2>

<div class="alta-formulario">
    <label>Nombre mascota: </label>
   <input type="text" [(ngModel)]="m1.nombre" placeholder="Escriba su nombre">
   <br>
   <label>Raza :</label>
   <input type="text" [(ngModel)]="m1.raza" placeholder="Escriba la raza de su mascota">
   <br>
   <label>Edad:</label>
   <input type="number" class="selector" [(ngModel)]="m1.edad" min="0" max="20">
   <br>
   <label>Tamano :</label>
   <input type="text" [(ngModel)]="m1.tamano" placeholder="Grande-Mediano-Pequeño">
   <br>
   <label for="tipoHabitacion">¿Qué tipo de habitación deseas?</label>
   <select [(ngModel)]="m1.tipoHabitacion" id="tipoHabitacion">
     <option value="perro">Perro</option>
     <option value="gato">Gato</option>
   </select>
   <br>
   <button (click)="altaMascota()">Dar de alta</button>
