<h1>Alta mascota</h1>

<div>
    

   <label>Nombre mascota: </label>
   <input type="text" [(ngModel)]="m1.nombre" placeholder="Escriba su nombre">
   <br>
   <label>Raza :</label>
   <input type="text" [(ngModel)]="m1.raza">
   <br>
   <label>Edad:</label>
   <input type="text" [(ngModel)]="m1.edad">
   <br>
   <label>Tamano :</label>
   <input type="text" [(ngModel)]="m1.tamano">
   <br>
   <label>tipoHabitacion :</label>
   <input type="text" [(ngModel)]="m1.tipoHabitacion">
   <button (click)="altaMascota()">Dar de alta</button>
