<h1>Paraiso Peludo</h1>
<a routerLink="inicio">
  <button class="button button2">Inicio</button>
  </a>
  <a routerLink="cliente">
    <button class="button button2">Cliente</button>
    </a>
    <a routerLink="contacto">
      <button class="button button2">Contacto</button>
      </a>
      <a routerLink="galeria-fotos">
        <button class="button button2">Galeria de fotos</button>
        </a>
        <a routerLink="opiniones">
          <button class="button button2">Opiniones</button>
          </a>
          <a routerLink="quienes-somos">
            <button class="button button2">Quines Somos</button>
            </a>
            <a routerLink="reserva-habitacion">
              <button class="button button2">Reserva Habitacion</button>
              </a>
              <a routerLink="servicios">
                <button class="button button2">Servicios</button>
                </a>
                <a routerLink="ubicacion">
                  <button class="button button2">Ubicacion</button>
                <a routerLink="mascotas">
                  <button class="button button2">Mascotas</button>
                  </a>
  <router-outlet/>