h1 {
    text-align: center;
  }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: #5999da; /* Cambia el color de fondo según tus preferencias */
    }