<h1>Quienes somos</h1> 
 
  <div class="card" style="width: 18rem;">
    <img src="assets\imagenes\perroIoanCoche.jpg" class="card-img-top" alt="Ioan">
    <div class="card-body">
      <h5 class="card-title">Ioan Bobinca</h5>
      <p class="card-text">Es el director del hotel, encargado de las Redes sociales y todo el tema administrativo, con el apoyo de Beatriz</p>
      <a href="https://www.linkedin.com/in/ioan-bobinca-705a79188?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app " class="btn btn-primary">Perfíl personal</a>
    </div>
  </div>
<div class="card" style="width: 30rem;">
    <img src="assets\imagenes\cris.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Cristina del Castillo</h5>
      <p class="card-text">Cris es nuestra encargada de los paseos, zona de juegos y relax. Adiestradora de carrera no hay perro que se le resista, todos marchan con ganas de volver a sus manos</p>
      <a href="#" class="btn btn-primary">Perfíl personal</a>
    </div>
  </div>
  <div class="card" style="width: 30rem;">
    <img src="assets\imagenes\jose2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Jose Moreno</h5>
      <p class="card-text">Es el estilita de nuestro hotel, el encargado de dejar bonitos y relajados a vuestras mascotas, el tiempo restante ayuda en la zona de juegos.</p>
      <a href="https://www.linkedin.com/in/jos%C3%A9-moreno-s%C3%A1nchez-a9a260292?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app " class="btn btn-primary">Perfíl personal</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets\imagenes\dani.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Danny Rodas</h5>
      <p class="card-text">Dani es nuestro veterinario, lo necesitamos poco cosa que nos gusta, con mas de 10 años de experiencia en hospitales de Urgencia veterinaria, es una seguro de vida para nuestros huéspedes</p>
      <a href="https://www.linkedin.com/in/danny-rodas-galarza-678b5ba7/" class="btn btn-primary">Perfíl personal</a>
    </div>
</div>
  <div class="card" style="width: 18rem;">
    <img src="assets\imagenes\beatriz.png" class="card-img-top" alt="Beatriz Torija">
    <div class="card-body">
      <h5 class="card-title">Beatriz Torija</h5>
      <p class="card-text">Es la encargada de recibir a los huespedes y sus familias, en el tiempo restante es la encargada de mantener límpias y en ordenadas nuestras instalaciones </p>
      <a href="#" class="btn btn-primary">Perfíl personal</a>
    </div>
  </div>




