<body>
<h1>Seleccione las fechas de hospedaje</h1>
<div>
  <label for=""> Fecha llegada: </label>
  <input matInput type="date" 
   min=""
  [(ngModel)]="fechaEntrada" 
  placeholder="Fecha de entrada"
  required="required"
  >
  <label for=""> Fecha salida : </label>
  <input matInput type="date" 
   
  [(ngModel)]="fechaSalida" 
  placeholder="{{fechaFormateada}}"
  required="required"
  >

  <button type="submit"
  *ngIf="fechaEntrada && fechaSalida"
  [disabled]="isLoading"
  (click)="buscarReservas()">Consultar disponibilidad de fecha</button>
</div>
<div>
    <h3>{{ getDisponibilidadTexto() }}</h3>
    <a (click)="redirecionar3()">
      <button class="button button3" [disabled]="!disponible">Alta Reserva</button>
    </a>
</div>

<br> 
<a (click)="redirecionar2()">
    <button class="button button2">Alta Cliente</button>
  </a>
  <br>
  <a (click)="redirecionar()">
    <button class="button button2">Alta Mascota</button>
  </a>
   <br>
  </body>