<body>
<h1>Realizar reserva</h1>
<div>
  <input matInput type="date" [(ngModel)]="fechaEntrada" placeholder="Fecha de entrada">
  <input matInput type="date" [(ngModel)]="fechaSalida" placeholder="Fecha de salida">

  <!-- <button type="submit" (click)="buscarDisponibilidad()">Consultar disponibilidad de fecha</button> -->

  <div>
    <!--
    @for(let resultado of resultados){
    <p>{{ resultado.fechaEntrada }}</p>
    <p>{{ resultado.disponible ? 'Disponible' : 'No disponible' }}</p>
    <p>{{ resultado.precio }}</p> 
    }
  </div>

</div>

   <!<div>
  <input matInput type="date" [(ngModel)]="fechaEntrada" placeholder="Fecha de entrada">
  <input matInput type="date" [(ngModel)]="fechaSalida" placeholder="Fecha de salida">
  <button type="submit" (click)="ngOnInit()">Consultar disponibilidad de fecha</button>
</div>
<br> -->
<!--  -->
  <!-- <a (click)="redirecionar3()"> -->
    <button class="button button3">Alta Reserva</button>
  <!-- </a> -->
  <br>

<!-- <a (click)="redirecionar2()"> -->
    <button class="button button2">Alta Cliente</button>
  <!-- </a> -->
  <br>
  <!-- <a (click)="redirecionar()"> -->
    <button class="button button2">Alta Mascota</button>
  <!-- </a> -->
  <!-- </body> -->