<h1>Galería de imagenes</h1>
<br>
<div id="carouselFotos" class="carousel slide carousel-fade">
    <div class="carousel-inner">
      <div class="carousel-item active">
            <img src="assets\imagenes\zonaChill.jpg" class="d-block w-100" alt="Zona chill" style="width: 400px; height: auto;" >
          </div>
          <div class="carousel-item">
            <img src="assets\imagenes\zonaJuego.jpg" class="d-block w-100"  alt="Caciche post peluquería" style="width: 400px; height: au;">
          </div>
          <div class="carousel-item">
            <img src="assets/imagenes/relaxPerruno.jpg" class="d-block w-100" alt="Relajacion en jardin" style="width: 400px; height: auto;">
          </div>
          <div class="carousel-item">
            <img src="assets/imagenes/kaluaNavidad.jpg" class="d-block w-100" alt="kaluaNav" style="width: 400px; height: auto;">
          </div>
          <div class="carousel-item">
            <img src="assets/imagenes/crisPerrin2.jpg" class="d-block w-100" alt="Axl" style="width: 400px; height: 400px;">
          </div>
          <div class="carousel-item">
            <img src="assets/imagenes/bambata.jpg" class="d-block w-100" alt="bambata" style="width: 400px; height: auto;">
          </div>
          <div class="carousel-item">
            <img src="assets/imagenes/kaluaIoan.jpg" class="d-block w-100" alt="kaluaIoan" style="width: 400px; height: auto;">
          </div>
          <div class="carousel-item">
            <img src="assets/imagenes/thor.jpg" class="d-block w-100" alt="thor" style="width: 400px; height: auto;">
          </div>
          <div class="carousel-item">
            <img src="assets/imagenes/rousieCachorra.jpg" class="d-block w-100" alt="cachorri" style="width: 400px; height: auto;">
          </div>
         <div class="carousel-item">
            <img src="assets/imagenes/perroIoan.jpg" class="d-block w-100" alt="perroIoan" style="width: 400px; height: auto;">
          </div>
          <div class="carousel-item">
            <img src="assets/imagenes/crisPerrin1.jpg" class="d-block w-100" alt="axl1" style="width: 400px; height: auto;">
          </div>
         </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselFotos" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselFotos" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>









