body{
    background-color: #EAECCC;
 
}
h1{
text-align: center; 
font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: brown;
 }
 p{
  text-align: center;
 }
 h2{
  text-align: center;
 }
 li{
  
 }
img {
    width: 50%; 
    margin: 0 auto;
  }

 
  h1 {
    color: brown; 
  }
  img {
    transition: transform 0.5s ease-in-out;
  }
  
  img:hover {
    transform: scale(1.2);
  }
  div {
    display: flex;
    align-items: center;
  }
  
  img {
    margin-left: 350px;
  }
  img {
    filter: sharpen(200 px); 
  }
  img {
    image-rendering: optimize-contrast;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}