
  <body>
    <h1>¡BIENVENIDO A PARAÍSO PELUDO!</h1>
    <p>¿Tu perro necesita un descanso de la rutina? <strong>En Paraíso Peludo</strong> le ofrecemos una experiencia única llena de diversión, juegos y cuidados personalizados.</p>
    <h2>Más que un hotel, un hogar lejos del hogar:</h2>
    <br>
    <ul>
    <li><strong>Amplias y cómodas suites:</strong> Olvídate de las jaulas estrechas. Tu perro disfrutará de su propia suite con cama ortopédica, terraza privada y acceso a zonas de juego.</li>
    <br>
    <img src="assets\imagenes\habitacionCanina.jpg" alt="Descanso">
    <li><strong>Diversión asegurada:</strong> Paseos diarios por la naturaleza, juegos con otros perros, actividades de estimulación mental y mucho más.</li>
    <img src="assets\imagenes\rousieJoven.jpg" alt="Diversión">
    <br>
    <li><strong>Cuidados personalizados:</strong> Un equipo de profesionales altamente cualificados atenderá las necesidades de tu perro, desde su alimentación hasta su medicación.</li>
    <img src="assets\imagenes\vetePerrin.jpg" alt="">
    <br>
    <li><strong>Tranquilidad para ti:</strong> Te enviaremos fotos y vídeos diarios para que puedas ver lo feliz que está tu perro durante su estancia.</li>
    <img src="assets\imagenes\duenoRelax.jpg" alt="">
    </ul>
    <br>
    <p>Reserva ahora y aprovecha nuestras <strong> ofertas especiales:</strong></p>
    <br>
    <p><strong>Descuento del 10% en tu primera reserva.</strong>
        Estancia gratuita para tu segundo perro.
        Consulta gratuita con nuestro veterinario.</p>
        <br>
    <p><strong>Llámanos al: 622238246</strong></p>
    <br>
    <p><strong>¡No esperes más y reserva tu plaza hoy mismo!</strong></p>
    <button type="button" class="btn btn-success" routerLink="/reserva-habitacion">Realiza tu reserva ahora</button>

        